[Unit]
Description=CAVA – Console-based Audio Visualizer
After=sound.target

[Service]
Type=simple
WorkingDirectory=/data/plugins/music_service/quadify/cava
ExecStart=/usr/local/bin/cava -p /data/plugins/music_service/quadify/cava/config/default_config
Restart=always
RestartSec=3
User=volumio
Group=volumio

[Install]
WantedBy=multi-user.target
