[Unit]
Description=IR Listener Service for Quadify
After=network.target

[Service]
Type=simple
User=volumio
WorkingDirectory=/data/plugins/music_service/quadify/quadifyapp/src/hardware
ExecStart=/usr/bin/python3 /data/plugins/music_service/quadify/quadifyapp/src/hardware/ir_listener.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
